<div class="container">
  <h2>
    Converse comigo e vamos desenvolver suas habilidades para o próximo nível!
  </h2>
  <app-message-me></app-message-me>

  <div class="contact-section">
    <h4>
      Envie um email para: <span> {{ email }}</span>
    </h4>
    <div class="separator">
      <hr class="line" />
      <p>ou entre em contato por</p>
      <hr class="line" />
    </div>
    <div class="socials">
      <a
        [href]="linkedinUrl"
        target="_blank"
        rel="noopener noreferrer"
        class="social-logo"
      >
        <fa-icon [icon]="linkedinIcon"></fa-icon>
      </a>
      <a
        [href]="instagramUrl"
        target="_blank"
        rel="noopener noreferrer"
        class="social-logo"
      >
        <fa-icon [icon]="instagramIcon"></fa-icon>
      </a>

      <a
        [href]="githubUrl"
        target="_blank"
        rel="noopener noreferrer"
        class="social-logo"
      >
        <fa-icon [icon]="githubIcon"></fa-icon>
      </a>
    </div>
  </div>
</div>
