<div class="container">
  <h2>
    Converse comigo e vamos desenvolver suas habilidades para o próximo nível!
  </h2>
  <img
    src="assets/img/message_me.svg"
    alt="Message Me image"
    class="main-image"
  />

  <div class="contact-section">
    <h4>
      Envie um email para: <span> {{ email }}</span>
    </h4>
    <div class="separator">
      <hr class="line" />
      <p>ou entre em contato por</p>
      <hr class="line" />
    </div>
    <div class="socials">
      <a [href]="linkedinUrl" target="_blank" rel="noopener noreferrer">
        <img
          src="assets/icons/linkedin.svg"
          alt="LinkedIn"
          class="social-logo"
        />
      </a>
      <a [href]="instagramUrl" target="_blank" rel="noopener noreferrer">
        <img
          src="assets/icons/instagram.svg"
          alt="Instagram"
          class="social-logo"
        />
      </a>
      <a [href]="githubUrl" target="_blank" rel="noopener noreferrer">
        <img src="assets/icons/github.svg" alt="GitHub" class="social-logo" />
      </a>
    </div>
  </div>
</div>
