@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: clamp(2rem, 5vw, 4rem);
}

h2 {
  font-size: clamp(1.5rem, 4vw, 3rem);
}

h3 {
  font-size: clamp(0.8rem, 2.5vw, 1.5rem);
}

h4 {
   font-size: clamp(1.2rem, 4vw, 2rem);
}

.container {
  min-height: 100dvh;
}

/* Declaração de variáveis */

:root {
  --primary: #00a6ed;
}
